

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100%);
    z-index: 1;

    /* To make room for the overlay */
}

.photo {
    height: 33.33%;
    position: relative;
    width: calc(16.666%);

    /* Adjust this value as per your requirements */
    overflow: hidden;
    z-index: 1;
}

.photo img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    /* Ensures the image covers the entire container while maintaining aspect ratio */
}

.sublead{
    text-align: center;
}

.overlay {
    overflow: hidden;
    position: absolute;
    top: 33.333%;
    left: 33.333%;
    width: 33.333%;
    height: 33.333%;
    background-color: rgba(34, 37, 41);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 99999;
    flex-wrap: nowrap;
}

.overlay h1 {
    font-size: 3rem;
}

.bottom-bar {
    background-color: black;
    color: white;
    opacity: 70%;
    height: 24px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom-bar a {
    text-decoration: none;
    color: white !important;
}

.footer-text {
    margin-left: 10px;
    font-size: 16px;
    float: left;

}

.login {
    opacity: 100%;
    float: right;

    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;

}


/* Adjust the layout for smaller screens */
@media only screen and (max-width: 920px) {

    .overlay h1 {
        font-size: 1.8rem;
    }

    .footer-text {

        font-size: 10px;

    }
}

/* Adjust the layout for smaller screens */
@media only screen and (max-width: 768px) {
    .photo {
        height: 25%;
        width: calc(33.333%);
    }

    .overlay h1 {
        font-size: 1.4rem;
    }


}

/* Adjust the layout for even smaller screens */
@media only screen and (max-width: 480px) {
    .photo {
        height: 20%;
        width: calc(50%);
    }

    .overlay h1 {
        font-size: 1.5rem;
    }

    .leader {
        display: block;
        text-align: center;
        font-size: 1.8rem;
    }

    .overlay {
        top: 33.333%;
        left: 16.66%;
        width: 64.66%;
        height: 33.333%;

    }



}

.title {
    font-family: "monoton", sans-serif;
    font-size: 2.5vw;
    color: rgba(234, 185, 66);
}



.coded a {
    color: #000000;
    text-decoration: none;
}

.coded .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 14px;
    animation: pound .5s infinite alternate;
    -webkit-animation: pound .5s infinite alternate;
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.2);
    }
}

@keyframes pound {
    to {
        transform: scale(1.2)
    }
}

.container .gallery a img {
    float: left;
    width: 20%;
    height: auto;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}

.container .gallery a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}

.clear {
    clear: both;
    float: none;
    width: 100%;
}